{% extends 'base.html.twig' %}


{% block title %}
	Tarifs coiffure!
{% endblock %}

{% block body %}
	
	<span>Veuillez cliquer sur l'icone correspondant à votre catégorie >>>></span>
	<h1 class="kage jauneC titreCoiffure">- Coiffure</h1>
	<div class="blocService container-fluid">
		<div class="row">
			<li class="col-6 col-md-4">
				<a href="{{path('coupeHomme')}}">
					<div class="service centre">
						<img src="{{asset('asset/image/IconHomme.svg')}}" width="200" height="200" alt="">
						<br>
						<button class="bouton">HOMME</button>
					</div>
				</a>
			</li>


			<li class="col-6 col-md-4">
				<a href="{{path('coupeFemme')}}">

					<div class="service centre">
						<img src="{{asset('asset/image/IconFemme.svg')}}" width="200" height="200" alt="">
						<br>
						<button class="bouton">FEMME</button>
					</div>
				</a>
			</li>

			<li class="col-6 col-md-4">
				<a href="{{path('coupeEnfant')}}">
					<div class="service centre">
						<img src="{{asset('asset/image/IconEnfant.svg')}}" width="200" height="200" alt="">
						<br>
						<button class="bouton">ENFANT</button>
					</div>
				</a>
			</li>
		</div>
	</div>


{% endblock %}
