{% extends 'base.html.twig' %}

{% block title %}Semaine
{% endblock %}
{% set trans_day_hash = { 
    "Monday": "Lundi", 
    "Tuesday": "Mardi", 
    "Wednesday": "Mercredi", 
    "Thursday": "Jeudi", 
    "Friday": "Vendredi", 
    "Saturday": "Samedi", 
    "Sunday": "Dimanche" 
} %}

{% block body %}
	{% if app.user %}
		{% if is_granted('ROLE_ADMIN') %}
			<h1>Votre Semaine</h1>
			<h2>cliquez sur les horaires habituel ou vous êtes disponible durant la semaine:</h2>
			{% for jour in lasemaine %}
				<br><h2>{{trans_day_hash[jour.jour]}}
					:
				</h2>
				<div class="horizontal">
					{% for heure in leshoraires %}
						{% set horaireExistepas = true %}
						{% for item in jour.horaire %}
							{% if item == heure %}
								{% set horaireExistepas = false %}
							{% endif %}
						{% endfor %}
						{% if horaireExistepas == true %}
							<a href="{{path("ajoutheure",{'jour':jour.jour,'heure':heure})}} ">
								<button class="bouton heurea align">
									<span class="textcenter">{{heure}}
									</span>
								</button>
							</a>
						{% else %}
							<a href="{{path("removeheure",{'jour':jour.jour,'heure':heure})}} ">
								<button class="boutondispo heurea align">
									<span class="textcenter">{{heure}}
									</span>
								</button>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
			<br><br>
		{% endif %}
	{% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}
