<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				base
			{% endblock %}
		</title>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
		{# <link rel="stylesheet" href="{{asset('asset/css/stylebook.css')}}"> #}

		<link rel="stylesheet" href="{{asset('asset/css/styleRdv.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/styleAnimation.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/stylecoupe.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/pageanime.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/styleadmin.css')}}">

	</head>
	<body>
		<header>
			<nav class="mainMenu">
				<div>
					<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" class="logo" alt="">
				</div>
				<input type="checkbox" name="panel" class="dispNone" id="panel"/>
				<label for="panel" class="menuTitle">
					<img src="{{asset('asset/image/menu.png')}}" alt="">
				</label>
				<ul class="menu">
					<li>
						<a href="{{path('home')}}">ACCUEIL</a>
					</li>
					<li>
						<a href="{{path('tarifsStandars')}}">SERVICES ET TARIFS</a>
					</li>
					<li>
						<a href="{{path('barberShop')}}">BOOK</a>
					</li>
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{path('admin')}}">
									<button class="rdv">ADMIN</button>
								</a>
							</li>
						{% else %}
							<li>
								<a href="{{path('rendezvous')}}">
									<button class="rdv">RENDEZ-VOUS</button>
								</a>
							</li>
						{% endif %}
					{% else %}
						<li>
							<a href="{{path('app_login')}}">
								<button class="rdv">RENDEZ-VOUS</button>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			<div class="container">
				<br>
				{% block body %}{% endblock %}
				<br>
			</div>
		</main>
		{% block javascripts %}{% endblock %}
		<footer class="container-fluid">
			<div class="fondFooter row">
				<div class="logoFooter col-12 col-lg-4 shop">
					<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" class="logofooter" width="120" height="120" alt="">
				</div>
				<div class="footerCenter col-12 col-lg-4">
					<p>CONTACT</p>
					<div class="align">
						<img src="{{asset('asset/image/IconTel.svg')}}" class="iconfooter" alt="">
						<li>
							<a href="tel:+590690097615">+590690097615</a>
						</li>
					</div>
					<div class="align">
						<img src="{{asset('asset/image/IconEmail.svg')}}" class="iconfooter" alt="">
						<li>
							<a href="mailto:coiffureluidjy@gmail.com">coiffureluidjy@gmail.com</a>
						</li>
					</div>
				</div>
				<div class="centre col-12 col-lg-4">
					<p>SUIVEZ-MOI</p>
					<div>
						<a href="https://www.facebook.com/luidjy.nertomb">
							<svg class="reseau" width="80px" height="80px" viewbox="0 0 480 480">
								<g>
									<g>
										<path id="facebookCercle" fill="none" stroke="#CDB969" stroke-width="6" stroke-miterlimit="10" d="M240.001,440.001L240.001,440.001
																																											C129.544,440.001,40,350.465,40,240l0,0c0-110.455,89.546-200,200.001-200l0,0C350.456,40,440,129.547,440,240l0,0
																																											C440,350.465,350.456,440.001,240.001,440.001z"/>
									</g>
								</g>
								<g>
									<path id="facebookIcon" fill="#CDB969" d="M212.977,347.193h43.17V239.094h30.118l3.208-36.196h-33.326c0,0,0-13.513,0-20.611
																																						c0-8.534,1.71-11.91,9.967-11.91c6.64,0,23.359,0,23.359,0v-37.561c0,0-24.632,0-29.887,0c-32.13,0-46.609,14.148-46.609,41.226
																																						c0,23.586,0,28.858,0,28.858h-22.456v36.654h22.456V347.193z"/>
								</g>
							</svg>
						</a>
						<a href="https://www.instagram.com/coiffureluidjycut/">
							<svg class="reseau" width="80px" height="80px" viewbox="0 0 480 480">
								<g>
									<g>
										<path id="instaCercle" fill="none" stroke="#CDB969" stroke-width="6" stroke-miterlimit="10" d="M240.001,440.001L240.001,440.001
																																	C129.544,440.001,40,350.465,40,240l0,0c0-110.455,89.546-200,200.001-200l0,0C350.456,40,440,129.547,440,240l0,0
																																	C440,350.465,350.456,440.001,240.001,440.001z"/>
									</g>
								</g>
								<g>
									<g>
										<path id="instaIcon1" fill="#CDB969" d="M240.001,160.224c25.965,0,29.046,0.099,39.302,0.564
																																				c9.481,0.432,14.633,2.013,18.057,3.348c4.531,1.765,7.777,3.872,11.183,7.271c3.406,3.41,5.507,6.648,7.272,11.186
																																				c1.333,3.427,2.913,8.579,3.348,18.062c0.475,10.252,0.573,13.329,0.573,39.301c0,25.967-0.099,29.04-0.573,39.299
																																				c-0.435,9.481-2.015,14.637-3.348,18.056c-1.766,4.542-3.866,7.777-7.272,11.188c-3.405,3.406-6.651,5.507-11.183,7.271
																																				c-3.424,1.326-8.577,2.916-18.057,3.348c-10.256,0.468-13.337,0.569-39.302,0.569c-25.968,0-29.044-0.102-39.305-0.569
																																				c-9.476-0.432-14.629-2.021-18.053-3.348c-4.542-1.765-7.777-3.865-11.183-7.271c-3.406-3.411-5.509-6.646-7.274-11.188
																																				c-1.326-3.419-2.916-8.579-3.345-18.056c-0.472-10.259-0.571-13.332-0.571-39.299c0-25.972,0.099-29.046,0.571-39.301
																																				c0.429-9.483,2.02-14.635,3.345-18.06c1.768-4.539,3.868-7.777,7.274-11.187c3.406-3.399,6.644-5.509,11.183-7.271
																																				c3.424-1.335,8.577-2.916,18.053-3.348C210.957,160.321,214.033,160.224,240.001,160.224 M240.001,142.694
																																				c-26.413,0-29.727,0.114-40.095,0.588c-10.36,0.471-17.426,2.117-23.616,4.522c-6.39,2.481-11.823,5.809-17.223,11.216
																																				c-5.415,5.406-8.737,10.838-11.218,17.231c-2.405,6.185-4.054,13.25-4.524,23.604c-0.472,10.375-0.589,13.688-0.589,40.102
																																				c0,26.412,0.117,29.728,0.589,40.096c0.47,10.357,2.119,17.419,4.524,23.61c2.479,6.391,5.803,11.826,11.218,17.221
																																				c5.4,5.415,10.833,8.737,17.223,11.219c6.188,2.403,13.253,4.052,23.616,4.523c10.365,0.473,13.68,0.59,40.095,0.59
																																				c26.412,0,29.719-0.117,40.095-0.59c10.357-0.472,17.426-2.12,23.613-4.523c6.393-2.481,11.823-5.804,17.221-11.219
																																				c5.407-5.395,8.727-10.83,11.216-17.221c2.405-6.191,4.057-13.253,4.523-23.61c0.473-10.368,0.59-13.685,0.59-40.096
																																				c0-26.414-0.117-29.727-0.59-40.102c-0.47-10.352-2.118-17.417-4.523-23.606c-2.489-6.392-5.809-11.823-11.216-17.23
																																				c-5.397-5.406-10.828-8.733-17.221-11.215c-6.188-2.403-13.256-4.051-23.613-4.522
																																				C269.72,142.808,266.413,142.694,240.001,142.694"/>
										<path id="instaIcon2" fill="#CDB969" d="M240.001,190.008c-27.583,0-49.942,22.365-49.942,49.947
																																				c0,27.579,22.358,49.943,49.942,49.943c27.58,0,49.941-22.366,49.941-49.943C289.943,212.373,267.581,190.008,240.001,190.008
																																				 M240.001,272.368c-17.914,0-32.417-14.511-32.417-32.413c0-17.906,14.503-32.419,32.417-32.419
																																				c17.901,0,32.419,14.513,32.419,32.419C272.42,257.857,257.903,272.368,240.001,272.368"/>
										<path id="instaIcon3" fill="#CDB969" d="M303.59,188.04c0,6.44-5.229,11.67-11.669,11.67c-6.451,0-11.676-5.232-11.676-11.67
																																	c0-6.447,5.225-11.672,11.676-11.672C298.361,176.368,303.59,181.595,303.59,188.04"/>
									</g>
								</g>
							</svg>
						</a>
						<a href="https://www.youtube.com/channel/UCSrehJ0ZZND0lKpo0Ut05TQ?view_as=subscriber">
							<svg class="reseau" width="80px" height="80px" viewbox="0 0 480 480">
								<g>
									<g>
										<path id="youtubeCercle" fill="none" stroke="#CDB969" stroke-width="6" stroke-miterlimit="10" d="M240.001,440.001L240.001,440.001
																							C129.544,440.001,40,350.465,40,240l0,0c0-110.455,89.546-200,200.001-200l0,0C350.456,40,440,129.547,440,240l0,0
																							C440,350.465,350.456,440.001,240.001,440.001z"/>
									</g>
									<path id="youtubeIcon" fill="#CDB969" d="M346.268,186.268c-2.556-9.609-10.073-17.167-19.616-19.74c-17.291-4.666-86.65-4.666-86.65-4.666
																				s-69.359,0-86.664,4.666c-9.532,2.573-17.047,10.13-19.605,19.74c-4.632,17.414-4.632,53.731-4.632,53.731s0,36.329,4.632,53.732
																				c2.558,9.608,10.073,17.177,19.605,19.739c17.305,4.666,86.664,4.666,86.664,4.666s69.359,0,86.65-4.666
																				c9.543-2.563,17.061-10.131,19.616-19.739c4.633-17.403,4.633-53.732,4.633-53.732S350.903,203.682,346.268,186.268z
																				 M217.315,272.982v-65.964L275.285,240L217.315,272.982z"/>
								</g>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="align company">
				<p>Company © Luidjy's Barber. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
