<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}base
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
	</head>
	<body>

		<nav>
			<div>
				<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" width="200" height="200" alt="">
			</div>
			<div>
				<li>
					<a href="{{path('home')}}">ACCUEIL</a>
				</li>
				<li>
					<a href="{{path('tarifsStandars')}}">SERVICES ET TARIFS</a>
				</li>
				<li>
					<a href="{{path('barberShop')}}">BOOK</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('app_logout')}}">DECONNEXION</a>
					</li>
				{% endif %}
				<li>

					<a href="{{path('app_login')}}">
					
						<button class="bouton1">RENDEZ-VOUS</button>
					</a>

				</li>
			</div>

		</nav>
		<div class="corps"> {% block body %}{% endblock %}
			</div>


			{% block javascripts %}{% endblock %}
		</body>
		<h2><br><br><br><br><br></h2>
	</html>
