<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}base
			{% endblock %}
		</title>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "{{ path('fc_load_events') }}",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
header: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay'
},
plugins: [
'interaction', 'dayGrid', 'timeGrid'
], // https://fullcalendar.io/docs/plugin-index
timeZone: 'UTC'
});
calendar.render();
});
		</script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
		<link rel="stylesheet" href="{{asset('asset/css/styleRdv.css')}}">
		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
	</head>
	<body>
		<nav>
			<div>
				<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" width="200" height="200" alt="">
			</div>
			<div>
				<li>
					<a href="{{path('home')}}">ACCUEIL</a>
				</li>
				<li>
					<a href="{{path('tarifsStandars')}}">SERVICES ET TARIFS</a>
				</li>
				<li>
					<a href="{{path('rendezvous')}}">RENDEZ-VOUS</a>
				</li>
				<li>
					<a href="{{path('barberShop')}}">BOOK</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('app_logout')}}">DECONNEXION</a>
					</li>
				{% endif %}
				<li>
					<a href="{{path('app_login')}}">
						<button class="rdv">RENDEZ-VOUS</button>
					</a>
				</li>
			</div>

		</nav>
		<div class="corps"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}{% endblock %}
		</body>
		<h2><br><br><br><br><br></h2>
	</html>
