<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}base
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
	</head>
	<body>
		{# 
														<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
															<a class="navbar-brand" href="">LUIDJY's Barber</a>
															<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
																<span class="navbar-toggler-icon"></span>
															</button>
												
															<div class="collapse navbar-collapse" id="navbarColor01">
																<ul class="navbar-nav mr-auto">
																	<li class="nav-item active">
																		<a class="nav-link" href="{{path('home')}}">Accueil</a>
																	</li>
																	<li class="nav-item dropdown">
																		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Autre</a>
																		<div class="dropdown-menu">
																			<a class="dropdown-item" href="{{path('creation')}}">Creation</a>
																			<a class="dropdown-item" href="{{path('quiSommeNous')}}">Qui sommes nous</a>
																			<a class="dropdown-item" href="{{path('actualites')}}">Actualités</a>
																		</li>
																	</li>
																	<li class="nav-item dropdown">
																		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Books</a>
																		<div class="dropdown-menu">
																			<a class="dropdown-item" href="{{path('coupeEnfant')}}">Coupe enfant</a>
																			<a class="dropdown-item" href="{{path('coupeFemme')}}">Coupe femme</a>
																			<a class="dropdown-item" href="{{path('coupeHomme')}}">Coupe homme</a>
																		</li>
																	</li>
																	<li class="nav-item dropdown">
																		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Tarifs</a>
																		<div class="dropdown-menu">
																			<a class="dropdown-item" href="{{path('tarifsStandars')}}">Tarifs standards</a>
																			<a class="dropdown-item" href="{{path('Produits')}}">Produits</a>
																			<a class="dropdown-item" href=""></a>
																		</li>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" href="{{path('barberShop')}}">Barber Shop</a>
																	</li>
																	
																	<li class="nav-item">
																		<a class="nav-link" href="{{path('ReseauxSociaux')}}">Reseaux sociaux</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" href="{{path('inscription')}}">Inscription</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" href="{{path('RendezVous')}}">Rendez-vous</a>
																	</li>
												
																	{% if app.user %}
																		<li class="nav-item">
																			<a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
																		</li>
																	{% else %}
																		<li class="nav-item">
																			<a class="nav-link" href="{{path('app_login')}}">connexion</a>
																		</li>
																	{% endif %}
																</ul>
															</div>
														</nav> #}

		<nav>
			<div>
				<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" width="200" height="200" alt="">
			</div>
			<div>
				<li>
					<a href="{{path('home')}}">ACCUEIL</a>
				</li>
				<li>
					<a href="{{path('tarifsStandars')}}">SERVICES ET TARIFS</a>
				</li>
				<li>
					<a href="{{path('barberShop')}}">BOOK</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('app_logout')}}">DECONNEXION</a>
					</li>
				{% endif %}
				<li>

					<a href="{{path('app_login')}}">
						<span class="jauneC">RENDEZ-VOUS</span>
					</a>

				</li>
			</div>

		</nav>
		<div class="corps"> {% block body %}{% endblock %}
			</div>


			{% block javascripts %}{% endblock %}
		</body>
		<h2><br><br><br><br><br></h2>
	</html>
