<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}base
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
	</head>
	<body>
		<header>
			<nav>
				<div>
					<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" width="200" height="200" alt="">
				</div>
				<div>
					<li>
						<a href="{{path('home')}}">ACCUEIL</a>
					</li>
					<li>
						<a href="{{path('tarifsStandars')}}">SERVICES ET TARIFS</a>
					</li>
					<li>
						<a href="{{path('barberShop')}}">BOOK</a>
					</li>
					{% if app.user %}
						<li>
							<a href="{{path('app_logout')}}">DECONNEXION</a>
						</li>
					{% endif %}
					<li>
						<a href="{{path('app_login')}}">

							<button class="rdv">RENDEZ-VOUS</button>
						</a>
					</li>
				</div>

			</nav>
		</header>
		<div class="corps"> {% block body %}{% endblock %}
			</div>


			{% block javascripts %}{% endblock %}

			<footer class="fondFooter">


				<div class="logoFooter">
					<img src="{{asset('asset/image/LogoProjetJaune.svg')}}" width="120" height="120" alt="">
				</div>

				<div class="footerCenter ">
					<p>CONTACT</p>

					<div class="align">
						<img src="{{asset('asset/image/IconTel.svg')}}" width="80" height="80" alt="">
						<p>+785 23 54 78 96 20</p>
					</div>
					<div class="align">
						<img src="{{asset('asset/image/IconEmail.svg')}}" width="80" height="80" alt="">
						<p>luigjycoiffure@gmail.com</p>
					</div>
				</div>
				<div>
					<p>SUIVEZ-MOI</p>
					<img src="{{asset('asset/image/IconFacebook.svg')}}" width="80" height="80" alt="">
					<img src="{{asset('asset/image/IconInsta.svg')}}" width="80" height="80" alt="">
					<img src="{{asset('asset/image/IconYoutube.svg')}}" width="80" height="80" alt="">
				</div>


			</footer>
		</body>
	</html>
</body></html>
