{% extends 'base.html.twig' %}

{% block title %}
	femme coiffure!
{% endblock %}

{% block body %}
	<h1>coupe Femme</h1>
	<br>
	<h2>coupe classique (cheveux courts)</h2>
	<br>


	<h3>style: Buzz cut</h3>

	<br><br>
	<h2>1. Women Buzz cut rasé + Contours
	</h2>
	<img src="{{asset('asset/image/Femme1.jpg')}}" alt="Women Buzz cut rasé + Contours">
	<p>Coupe classique en Buzz cut</p>


	<br><br>
	<h2>2. Women Buzz cut + Contours + Dégradé + raie</h2>
	<img src="{{asset('asset/image/Femme2.jpg')}}" alt="Women Buzz cut + Contours + Dégradé + raie">
	<p>buzz cut parfaitement réalisé avec un degradé leger et une raie afin de relever la nuance de la coupe.</p>


	<br><br>
	<h2>3. Women Buzz cut + Contours + Dégradé + raie n#2</h2>
	<img src="{{asset('asset/image/Femme3.jpg')}}" alt="Women Buzz cut + Contours + Dégradé + raie n#2">
	<p>buzz cut + une raie coupe classique mais très apprecié par les femmes ayant des cheveux courts.</p>


	<br>
	<br>
	<br>
	<h3>style: Waves</h3>

	<br><br>
	<h2>4. wave + raie designe sans Contours</h2>
	<img src="{{asset('asset/image/Femme4.jpg')}}" alt="wave + raie designe sans Contours">
	<p>wave afin de plaquer les cheveux et un degradé plongeant ne nécessitant pas de contours.</p>

	<br>
	<br>
	<br>
	<h3>style: Afro et cheveux mi-long ou long</h3>

	<br><br>
	<h2>5. Afro courte avec tie</h2>
	<img src="{{asset('asset/image/Femme5.jpg')}}" alt="Afro courte avec tie">
	<p>coupe style afro semi-hawks avec un contour leger
	</p>


{% endblock %}
