{% extends 'base.html.twig' %}

{% block title %}
	Homme coiffure!
{% endblock %}

{% block body %}
	<h1>- Coupe Homme</h1>
	<br>
	<div class="blocService ">
		<li>
			<a href="{{path('coupeHomme')}}">
				<button class="bouton">HOMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeFemme')}}">
				<button class="bouton">FEMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeEnfant')}}">
				<button class="bouton">ENFANT</button>
			</a>
		</li>
	</div>
	<h2><br></h2>
	<h2 class="my-5">Style: Buzz cut</h2>
	<div class="coupe row">
		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme1.jpg')}}" alt="Buzz cut + Contours + Dégradé">
			<div class="coupeNP">
				<h3>1. Buzz cut + Contours + Dégradé</h3>
				<div class="prix">10 €</div>
			</div>
			<p>la classique Buzz Cut, sur cet exemple nous avons des contours parfaitement réalisés et un dégradé aux tempes qui rendent l’ensemble encore plus classe.</p>
		</div>

		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme2.jpg')}}" alt="Buzz cut + Barbe Déconnectée">
			<div class="coupeNP">
				<h3>2. Buzz cut + Barbe Déconnectée</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Sur cette coupe de cheveux pour homme noir nous avons la classique Buzz cut qui fonctionne à merveille avec une barbe déconnectée. En finition nous avons un dégradé bas sur les cotés et des contours parfaitement exécutés.</p>
		</div>


		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme3.jpg')}}" alt="Buzz cut + Dégradé à Blanc">
			<div class="coupeNP">
				<h3>3. Buzz cut + Dégradé à Blanc</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Ici nous avons un buzz cut sur lequel se forme de jolies waves. Avec un dégradé à blanc moyen et de bon contours. Une coiffure très esthétique avec un joli contraste.</p>
		</div>
	</div>


	<h2 class="my-5">Style: Waves</h2>

	<div class="coupe row">
		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme4.jpg')}}" alt="waves + Dégradé bas + Contours">
			<div class="coupeNP">
				<h3>4. Waves + Dégradé bas + Contours</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Les waves avec un dégradé bas fonctionnent à merveille comme on le voit sur cette coupe de cheveux. Les contours sont également parfaitement exécutés.</p>
		</div>

		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme5.jpg')}}" alt="Waves + Contours">
			<div class="coupeNP">
				<h3>5. Waves + Contours</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Un style parfait pour ceux qui veulent une allure classique mais raffinée.</p>
		</div>

		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme6.jpg')}}" alt="Waves + Dégradé aux tempes et à la nuque + Barbe Déconnectée">
			<div class="coupeNP">
				<h3>6. Waves + Dégradé aux tempes et à la nuque + Barbe Déconnectée</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Un magnifique dégradé aux tempes et à la nuque combiné avec des waves parfaitement réalisées et une barbe déconnectée.</p>
		</div>
	</div>

	<h2 class="my-5">Style: Afro et cheveux mi-long ou long</h2>

	<div class="coupe row">
		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme7.jpg')}}" alt="Afro + Contours">
			<div class="coupeNP">
				<h3>8. Afro + Contours</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Les afros forme arrondi + contours, cette coiffure devient incroyable comme vous pouvez le constater ici.</p>
		</div>


		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme8.jpg')}}" alt=" Tresses + Dégradé à Blanc + Barbe Déconnectée">
			<div class="coupeNP">
				<h3>9. Tresses + Dégradé à Blanc + Barbe Déconnectée</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Des tresses exceptionnellement bien réalisées. Avec un dégradé à blanc, une barbe déconnectée et des contours parfaitement taillés.</p>
		</div>

		<div class="coupeDNP col-12 col-md-4">
			<img src="{{asset('asset/image/Homme9.jpg')}}" alt="Dreadlocks x Queue de cheval + Dégradé Moyen">
			<div class="coupeNP">
				<h3>10. Dreadlocks x Queue de cheval + Dégradé Moyen</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Dreadlocks attachées en queue de cheval, avec un dégradé à blanc moyen, et des contours soigneusement taillés.</p>
		</div>
	</div>
	<h2><br></h2>
	<div class="blocService ">
		<li>
			<a href="{{path('coupeHomme')}}">
				<button class="bouton">HOMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeFemme')}}">
				<button class="bouton">FEMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeEnfant')}}">
				<button class="bouton">ENFANT</button>
			</a>
		</li>
	</div>
{% endblock %}
