{% extends 'base.html.twig' %}

{% block title %}
	femme coiffure!
{% endblock %}

{% block body %}
	<h1>- Coupe Femme(cheveux courts)</h1>
	<br>

	<div class="blocService ">
		<li>
			<a href="{{path('coupeHomme')}}">
				<button class="bouton">HOMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeFemme')}}">
				<button class="bouton">FEMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeEnfant')}}">
				<button class="bouton">ENFANT</button>
			</a>
		</li>
	</div>
	<h2><br></h2>
	<h2>Style: Buzz cut</h2>
	<div class="coupe">
		<div class="coupeDNP">
			<img src="{{asset('asset/image/Femme1.jpg')}}" alt="Women Buzz cut rasé + Contours">
			<div class="coupeNP">
				<h3>1. Women Buzz cut rasé + Contours</h3>
				<div class="prix">10 €</div>
			</div>
			<p>Couple classique en Buzz cut</p>
		</div>
		<div class="coupeDNP">
			<img src="{{asset('asset/image/Femme2.jpg')}}" alt="Women Buzz cut + Contours + Dégradé + raie">
			<div class="coupeNP">
				<h3>2. Women Buzz cut + Contours + Dégradé + raie</h3>
				<div class="prix">10 €</div>
			</div>
			<p>buzz cut parfaitement réalisé avec un degradé leger et une raie afin de relever la nuance de la coupe.</p>
		</div>
		<div class="coupeDNP">
			<img src="{{asset('asset/image/Femme3.jpg')}}" alt="Women Buzz cut + Contours + Dégradé + raie n#2">
			<div class="coupeNP">
				<h3>3. Women Buzz cut + Contours + Dégradé + raie n#2</h3>
				<div class="prix">10 €</div>
			</div>
			<p>buzz cut + une raie coupe classique mais très apprecié par les femmes ayant des cheveux courts.</p>
		</div>
	</div>
	<br>
	<h2>Style: Waves</h2>
	<div class="coupe">
		<div class="coupeDNP">
			<img src="{{asset('asset/image/Femme4.jpg')}}" alt="wave + raie designe sans Contours">
			<div class="coupeNP">
				<h3>4. wave + raie designe sans Contours</h3>
				<div class="prix">10 €</div>
			</div>
			<p>wave afin de plaquer les cheveux et un degradé plongeant ne nécessitant pas de contours.</p>
		</div>
		<div class="coupeDNP">
			<img alt="Coiffure Cheveux Court Afro Colorful Black – Spécialiste De La Beauté Noire  Et Métissée – Jnowakstrategy.com" class="n3VNCb" src="https://www.jnowakstrategy.com/wp-content/uploads/2020/05/coiffure-cheveux-court-afro-purple-waves-poppin-via-d2themasterbarber-of-coiffure-cheveux-court-afro.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 450; height: 450">
			<div class="coupeNP">
				<h3>5. wave + raie designe + Coloration</h3>
				<div class="prix">10 €</div>
			</div>
			<p>wave afin de plaquer les cheveux, un degradé aux tempes et une coloration pour donner plus de relief a la coiffure.</p>
		</div>
		<div class="coupeDNP">
			<img alt="10 idées coiffures sur cheveux naturels pour une rentrée en beauté – Le  Club des Cotonettes" class="n3VNCb" src="https://lecludescotonettes-dd40.kxcdn.com/wp-content/uploads/2018/08/finger-waves-club-cotonettes.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 450; height: 450">
			<div class="coupeNP">
				<h3>6. finger wave
				</h3>
				<div class="prix">10 €</div>
			</div>
			<p>cette coiffure est réalisé à l'aide d'un wave et les contrastes ainsi que la forme sont réalisés avec un peigne minutieusement.</p>
		</div>
	</div>
	<br>
	<h2>Style: Afro et cheveux mi-long ou long</h2>
	<div class="coupe">
		<div class="coupeDNP">
			<img src="{{asset('asset/image/Femme5.jpg')}}" alt="Afro courte avec tie">
			<div class="coupeNP">
				<h3>7. Afro courte avec tie</h3>
				<div class="prix">10 €</div>
			</div>
			<p>coupe style afro semi-hawks avec un contour leger</p>
		</div>
	</div>
	<h2><br></h2>
	<div class="blocService ">
		<li>
			<a href="{{path('coupeHomme')}}">
				<button class="bouton">HOMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeFemme')}}">
				<button class="bouton">FEMME</button>
			</a>
		</li>
		<li>
			<a href="{{path('coupeEnfant')}}">
				<button class="bouton">ENFANT</button>
			</a>
		</li>
	</div>

{% endblock %}
