{% extends 'base.html.twig' %}

{% block title %}
	Homme coiffure!
{% endblock %}

{% block body %}
	<h1>coupe Homme</h1>
	<h2>coupe classique</h2>
	<h3>style: Buzz cut</h3>
	<br><br><br>
	<h2>1. Buzz cut + Contours + Dégradé</h2>
	<img src="{{asset('asset/image/Homme1.jpg')}}" alt="Buzz cut + Contours + Dégradé">
	<p>la classique Buzz Cut, sur cet exemple nous avons des contours parfaitement réalisés et un dégradé aux tempes qui rendent l’ensemble encore plus classe.</p>
	<br><br><br>

	<h2>2. Buzz cut + Barbe Déconnectée</h2>
	<img src="{{asset('asset/image/Homme2.jpg')}}" alt="Buzz cut + Barbe Déconnectée">
	<p>Sur cette coupe de cheveux pour homme noir nous avons la classique Buzz cut qui fonctionne à merveille avec une barbe déconnectée. En finition nous avons un dégradé bas sur les cotés et des contours parfaitement exécutés.</p>
	<br><br><br>

	<h2>3. Buzz cut + Dégradé à Blanc</h2>
	<img src="{{asset('asset/image/Homme3.jpg')}}" alt="Buzz cut + Dégradé à Blanc">

	<p>Ici nous avons un buzz cut sur lequel se forme de jolies waves. Avec un dégradé à blanc moyen et de bon contours. Une coiffure très esthétique avec un joli contraste.</p>
	<br><br><br>

	<h3>style: Waves</h3>
	<br><br>

	<h2>4. Waves + Dégradé bas + Contours</h2>
	<img src="{{asset('asset/image/Homme4.jpg')}}" alt="waves + Dégradé bas + Contours">

	<p>Les waves avec un dégradé bas fonctionnent à merveille comme on le voit sur cette coupe de cheveux. Les contours sont également parfaitement exécutés.</p>
	<br><br><br>

	<h2>5. Waves + Contours</h2>
	<img src="{{asset('asset/image/Homme5.jpg')}}" alt="Waves + Contours">
	<p>Un style parfait pour ceux qui veulent une allure classique mais raffinée.</p>
	<br><br><br>

	<h2>6. Waves + Dégradé aux tempes et à la nuque + Barbe Déconnectée</h2>
	<img src="{{asset('asset/image/Homme6.jpg')}}" alt="Waves + Dégradé aux tempes et à la nuque + Barbe Déconnectée">
	<p>Un magnifique dégradé aux tempes et à la nuque combiné avec des waves parfaitement réalisées et une barbe déconnectée.</p>
	<br><br><br>

	<h3>style: Afro et cheveux mi-long ou long</h3>

	<br><br>
	<h2>7. Afro + Contours</h2>
	<img src="{{asset('asset/image/Homme7.jpg')}}" alt="Afro + Contours">
	<p>Les afros forme arrondi + contours, cette coiffure devient incroyable comme vous pouvez le constater ici.</p>
	<br><br><br>

	<h2>8. Tresses + Dégradé à Blanc + Barbe Déconnectée</h2>
	<img src="{{asset('asset/image/Homme8.jpg')}}" alt=" Tresses + Dégradé à Blanc + Barbe Déconnectée">
	<p>Des tresses exceptionnellement bien réalisées. Avec un dégradé à blanc, une barbe déconnectée et des contours parfaitement taillés.</p>
	<br><br><br>

	<h2>9. Dreadlocks x Queue de cheval + Dégradé Moyen</h2>
	<img src="{{asset('asset/image/Homme9.jpg')}}" alt="Dreadlocks x Queue de cheval + Dégradé Moyen">
	<p>Dreadlocks attachées en queue de cheval, avec un dégradé à blanc moyen, et des contours soigneusement taillés.</p>
	<br><br><br>

	<div class="text">
		<h1 class="kage jauneC titreCoiffure">- Coiffure</h1>
		<p>Cliquez sur les icones afin de vous rendre sur les différentes pages</p>
	</div>
{% endblock %}
